{% extends "plantilla.html" %}

{% block content %}
          <div id="sobre" > <img src="https://ygoprodeck.com/pics_sets/{{ codigo_sobre }}.jpg" alt="">   </div>


    <div id="reverso1" class="r1"> <img  src="{{ url_for('static', filename='reverso.jpg') }}" alt="">    </div>
     <div id="reverso2" class="r2"> <img  src="{{ url_for('static', filename='reverso.jpg') }}" alt="">    </div>
      <div id="reverso3" class="r3"> <img src="{{ url_for('static', filename='reverso.jpg') }}" alt="">    </div>


      <div id="reverso4" class="r4"> <img src="{{ url_for('static', filename='reverso.jpg') }}" alt="">    </div>
   <div id="reverso5" class="r5"> <img  src="{{ url_for('static', filename='reverso.jpg') }}" alt="">    </div>
      <div id="reverso6" class="r6"> <img   src="{{ url_for('static', filename='reverso.jpg') }}" alt="">    </div>


            <div id="i1"  > <img   src="{{ cartas[0]['card_images'][0]['image_url_small'] }}" alt="">  <div  style="text-align: center; "> {{ cartas[0]['name'] }} </div>   </div>
                <div id="i2" > <img  src="{{ cartas[1]['card_images'][0]['image_url_small'] }}" alt="">  <div  style="text-align: center; "> {{ cartas[1]['name'] }} </div>   </div>
            <div id="i3" > <img   src="{{ cartas[2]['card_images'][0]['image_url_small'] }}" alt="">  <div  style="text-align: center; "> {{ cartas[2]['name'] }} </div>   </div>



     <div id="i4" > <img   src="{{ cartas[3]['card_images'][0]['image_url_small'] }}" alt=""> <div  style="text-align: center; "> {{ cartas[3]['name'] }} </div>    </div>
      <div id="i5"> <img   src="{{ cartas[4]['card_images'][0]['image_url_small'] }}" alt=""> <div  style="text-align: center; "> {{ cartas[4]['name'] }} </div>    </div>
      <div id="i6"> <img   src="{{ cartas[5]['card_images'][0]['image_url_small'] }}" alt=""> <div  style="text-align: center; "> {{ cartas[5]['name'] }} </div>    </div>

      <div id="boton" >  <button type="button" name="button" class="btn btn-secondary"><a class="no_deco" href="{{ url_for('sobres') }}" style="text-decoration: none;">Volver a Sobres</a></button></div>


{% endblock content %}
