{% extends "plantilla.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('index') }}">Inici</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tienda
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ url_for('cartas') }}">Cartas</a>
          <a class="dropdown-item" href="{{ url_for('sobres') }}">Sobres</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('como_jugar') }}">Como jugar</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mi coleccion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ url_for('mis_cartas') }}">Mis Cartas</a>
          <a class="dropdown-item" href="{{ url_for('mis_mazos') }}">Mis Mazos</a>
          <a class="dropdown-item" href="{{ url_for('historial') }}">Mi Historial</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('cesta') }}">Mi Cesta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('usuario') }}">Mi Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Cerrar Sesion</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content-section cesta" style=" height:95%; overflow-y: scroll;">
  <span>
    <span class="grande"><b>Mi Historial</b></span>
  </span>
  <hr>
    <div class="elemento_cesta">
      {% if longitud==0 %}
        <p>Aun no tienes cartas en tu historial, compra alguna <a href="{{ url_for('cartas') }}">aquí!</a>.</p>
      {% else %}
        {% for elemento in posts %}
          <div >{% for id in elemento %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="width: 100px;;">Carta</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio</th>

                </tr>
              </thead>


              <tbody>
                <!--For por fecha ?-->

                <!--For de cartas por  fecha -->
                <tr>
                  <th scope="row"><img  style="width: 100%;  " src="https://storage.googleapis.com/ygoprodeck.com/pics_small/{{ id }}.jpg" alt=""></th>
                  <td >{{ elemento[id][0]}}</td>
                  <td>{{ elemento[id][1] }}</td>

                </tr>

                <tr>
                  <th colspan="3"scope="row" style="text-align: center; background-color: black; color:aliceblue;"> <b>{{ elemento[id][3]}}</b> </th>
                </tr>

              </tbody>
            </table>
            {% endfor %}
          </div>
          <br>
          {% endfor %}
      {% endif %}
    </div>
</div>
{% endblock content %}
