{% extends "plantilla.html" %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">Inici</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tienda
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('cartas') }}">Cartas</a>
            <a class="dropdown-item" href="{{ url_for('sobres') }}">Sobres</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('como_jugar') }}">Como jugar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Iniciar Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('registro') }}">Resgistrarse</a>
        </li>
      </ul>
    </div>
  </nav>

    <div class="content-section">
      <form class="" action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Registrate Ya!</legend>
          <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            <br>
            {% if form.username.errors %}
              {{ form.username(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.username(class=" form-control-lg") }}
            {% endif %}
            <br>
          </div>
          <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            <br>
            {% if form.email.errors %}
              {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.email(class=" form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            <br>
            {% if form.password.errors %}
              {{ form.password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.password(class=" form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.confirm_password.label(class="form-control-label") }}
            <br>
            {% if form.confirm_password.errors %}
              {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.confirm_password(class=" form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
          <small class="text-muted">
            Tienes una cuenta?<a class="ml-2" href="{{ url_for('login') }}">Conectate!</a>
          </small>
        </div>
      </form>
    </div>
{% endblock content %}
